In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("genre_region_totals.csv")
data = df.head(15)
data

        genre          region    sales
0      Action  European Union   510.99
1      Action           Japan   160.15
2      Action   North America   863.17
3      Action           Other   182.22
4      Action       Worldwide  1717.63
5   Adventure  European Union    63.20
6   Adventure           Japan    52.24
7   Adventure   North America   101.52
8   Adventure           Other    16.37
9   Adventure       Worldwide   233.46
10   Fighting  European Union    99.00
11   Fighting           Japan    87.28
12   Fighting   North America   220.51
13   Fighting           Other    35.87
14   Fighting       Worldwide   442.63

In [ ]:
datas = data.values.tolist()
datas

[['Action', 'European Union', 510.99],
 ['Action', 'Japan', 160.15],
 ['Action', 'North America', 863.17],
 ['Action', 'Other', 182.22],
 ['Action', 'Worldwide', 1717.63],
 ['Adventure', 'European Union', 63.2],
 ['Adventure', 'Japan', 52.24],
 ['Adventure', 'North America', 101.52],
 ['Adventure', 'Other', 16.37],
 ['Adventure', 'Worldwide', 233.46],
 ['Fighting', 'European Union', 99.0],
 ['Fighting', 'Japan', 87.28],
 ['Fighting', 'North America', 220.51],
 ['Fighting', 'Other', 35.870000000000005],
 ['Fighting', 'Worldwide', 442.63]]

In [ ]:
sd=DoublyLinkedList()
for i in  datas:
  sd.AddStart(i)

sd.view()

list data doubly linked list:
['Fighting', 'Worldwide', 442.63]
['Fighting', 'Other', 35.870000000000005]
['Fighting', 'North America', 220.51]
['Fighting', 'Japan', 87.28]
['Fighting', 'European Union', 99.0]
['Adventure', 'Worldwide', 233.46]
['Adventure', 'Other', 16.37]
['Adventure', 'North America', 101.52]
['Adventure', 'Japan', 52.24]
['Adventure', 'European Union', 63.2]
['Action', 'Worldwide', 1717.63]
['Action', 'Other', 182.22]
['Action', 'North America', 863.17]
['Action', 'Japan', 160.15]
['Action', 'European Union', 510.99]

In [ ]:
sd.AddStart(['Action', 'European Union', 510])
sd.view()

list data doubly linked list:
['Action', 'European Union', 510]
['Fighting', 'Worldwide', 442.63]
['Fighting', 'Other', 35.870000000000005]
['Fighting', 'North America', 220.51]
['Fighting', 'Japan', 87.28]
['Fighting', 'European Union', 99.0]
['Adventure', 'Worldwide', 233.46]
['Adventure', 'Other', 16.37]
['Adventure', 'North America', 101.52]
['Adventure', 'Japan', 52.24]
['Adventure', 'European Union', 63.2]
['Action', 'Worldwide', 1717.63]
['Action', 'Other', 182.22]
['Action', 'North America', 863.17]
['Action', 'Japan', 160.15]
['Action', 'European Union', 510.99]

In [ ]:
sd.AddEnd(['Nort', 'European Union', 510.99])

sd.view()

list data doubly linked list:
['Action', 'European Union', 510]
['Fighting', 'Worldwide', 442.63]
['Fighting', 'Other', 35.870000000000005]
['Fighting', 'North America', 220.51]
['Fighting', 'Japan', 87.28]
['Fighting', 'European Union', 99.0]
['Adventure', 'Worldwide', 233.46]
['Adventure', 'Other', 16.37]
['Adventure', 'North America', 101.52]
['Adventure', 'Japan', 52.24]
['Adventure', 'European Union', 63.2]
['Action', 'Worldwide', 1717.63]
['Action', 'Other', 182.22]
['Action', 'North America', 863.17]
['Action', 'Japan', 160.15]
['Action', 'European Union', 510.99]
['Nort', 'European Union', 510.99]

In [ ]:
print(sd.Search(['Action', 'Other', 182.22]))

True

In [ ]:
sd.DeleteAtStart()
sd.view()

list data doubly linked list:
['Fighting', 'Other', 35.870000000000005]
['Fighting', 'North America', 220.51]
['Fighting', 'Japan', 87.28]
['Fighting', 'European Union', 99.0]
['Adventure', 'Worldwide', 233.46]
['Adventure', 'Other', 16.37]
['Adventure', 'North America', 101.52]
['Adventure', 'Japan', 52.24]
['Adventure', 'European Union', 63.2]
['Action', 'Worldwide', 1717.63]
['Action', 'Other', 182.22]
['Action', 'North America', 863.17]
['Action', 'Japan', 160.15]
['Action', 'European Union', 510.99]
['Nort', 'European Union', 510.99]

In [ ]:
sd.DeleteAtEnd()
sd.view()

list data doubly linked list:
['Fighting', 'Other', 35.870000000000005]
['Fighting', 'North America', 220.51]
['Fighting', 'Japan', 87.28]
['Fighting', 'European Union', 99.0]
['Adventure', 'Worldwide', 233.46]
['Adventure', 'Other', 16.37]
['Adventure', 'North America', 101.52]
['Adventure', 'Japan', 52.24]
['Adventure', 'European Union', 63.2]
['Action', 'Worldwide', 1717.63]
['Action', 'Other', 182.22]
['Action', 'North America', 863.17]
['Action', 'Japan', 160.15]